.text{
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #e8a9d4;
  margin-left: 10px;
}

.search{
  margin-top: 20px;
  margin-left: 20px;
  background-color: #e8a9d4; 
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  max-height: 40px;
  border-radius: 5px;
}

.paper{
  background-color: aqua;
  text-align: left;
}

.heade{
  padding-left: 45%;
}
